body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
}

.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    font-family: "noto serif display", arial;
    color: black;
    display: block;
    transition: 0.3s;
}

.close-icon {
    height: 2.5rem;
}

.overlay a:focus {
    color: #f1f1f1;
}

.overlay .close-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 28px;
    font-family: "noto sans";
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}

    .overlay a {font-size: 25px}

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
    box-sizing: border-box;
}

.nav-logo {
    font-size: 25px;
    font-family: "noto sans";
    text-transform:uppercase;
    margin: 0;
    cursor: pointer;
}

.nav-burger {
    height: 2.5rem;    
}

.top-nav {
    display: none;
}

.top-soc-nav {
    display: none;
}

.def-heading {
    font-size: 56px;
    font-weight: 280;
    text-wrap: wrap;
    padding: 5vw;
    text-align: justify;
    margin: 0;
    font-family: "Noto Serif Display"
}

.img-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 5vw;
}

.img-container-r {
    display: flex;
    width: 100%;
    justify-content: center;
}

.img-container-l {
    display: flex;
    width: 100%;
    justify-content: center;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    transition: 1000ms;
}

.home-img {
    width: 90vw;
    object-fit: cover;
    cursor: pointer;
}

.img-container:hover {
    transform: scale(1.05);
    transition: 1000ms;
}

.img-sub {
    text-align: center;
    font-size: 24px;
    font-family: "noto serif display";
    color: black;
    margin-top: 3vw;
}

.inquire-section {
    display: flex;
    flex-wrap: wrap;
    padding: 4vw;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.inquire-heading {
    font-family: "noto serif display";
    font-size: 36px;
    font-weight: 400;
    margin-top: 0;
}

.genre-container-con {
    font-family: "noto serif display";
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 40px;
}


.inquire-btn {
    color: black;
    padding: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-decoration: none;
    transition: 50ms;
    text-align: center;
    font-family: "noto sans";
}

.inquire-btn:hover {
    background-color: rgb(10,10,30);
    color: whitesmoke;
    transition: 50ms;
}

.footer-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 4vw;
    gap: 5vw;
}

.footer-nav, .coder-contact  {
    font-family: "noto serif display";
    font-size: 20px;
}

.footer-nav a, .coder-contact {
    color: black;
}

.footer-statement {
    font-size: 15px;
    font-family: "noto sans";
    text-transform: uppercase;
    margin-left: 4vw;
    margin-bottom: 4vw;
}

.footer-nav {
    margin-bottom: 10vh;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 10vh;
}


.footer-section a:hover {
    background-color: rgb(10,10,30);
    color: whitesmoke;
}

/**/

@media (min-width: 1024px) {
    .nav-bar {
        padding: 5vw;
    }

    .nav-logo {
        font-size: 30px;
    }

    .nav-burger {
        height: 3rem;
    }

    .img-section {
        padding: 0;   
    }

    .home-img {
        width: 600px;
    }

    #campfire {
        margin-right: 4vw;
    }

    #prison {
        margin-left: 4vw;
    }

    .img-container-r {
        justify-content: flex-end;
    }

    .img-container-l {
        justify-content: flex-start;
    }

    .img-sub {
        font-size: 28px;
    }

    .footer-section {
        gap: 25vw;
    }
}

@media (min-width: 1248px) {
    .nav-bar {
        padding: 3.5vw;
        align-items: center;
    }

    .nav-div {
        display: flex;
        gap: 3vw;
        align-items: center;
    }

    .def-heading {
        padding-left: 3.5vw;
    }

    .nav-logo {
        font-size: 25px;
    }

    .nav-burger {
        display: none;
    }


    .top-nav {
        display: flex;
        font-family: "noto serif display";
        font-size: 18px;
        gap: 1vw;
    }

    .top-nav a {
        color: black;
        font-weight: 500;
        transition: 500ms;
        text-decoration: none;
    }

    .top-soc-nav {
        display: flex;
        justify-content: space-around;
    }

    .soc-icon {
        height: 25px;
        margin-right: 2vw;
    }

    #github {
        margin-right: 0;
    }

    .top-nav a:hover {
        color: rgba(0,0,0,0.5);
        transition: 500ms;
    }
}

@media (min-height: 780px) {
    .nav-logo {
        font-size: 30px;
    }

    .nav-burger {
        height: 2.5rem;
    }
}